@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #D5E1EF;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
img {
    width: 100%;
    padding: 16px;
    align-items: center;
    border-radius: 24px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 16px;
    color: #1f314f;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: #7D889E;
    text-align: center;
    width: 100%;
    max-width: 256px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 320px;
    background-color: #fff;
    border-radius: 16px;
}

.qr__container {
    overflow: hidden;
}

.text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 288px;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.footer__para {
    font-size: 13px;
}